.pokemon-container{
    display: flex; flex-direction: row;
    justify-content: center;
    display: inline-grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4.1em;
    width: 100%;
    overflow: auto;
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 30px;
    padding-top: 5px;
    border-style: double;
    border-width: 4px;
    border-radius: 2%;
    border-color: black;
    background-color: rgb(90, 94, 119);
    backdrop-filter: blur(20px);
}

img{
    width: 100px;
    height: 100px;
}

img:hover { 
    transform: scale(1.1); 
}

img::selection { 
    transform: scale(2); 
}

h3{
    margin: 5px;
}

