<div class="container-fluid">

    <h3 style="padding-top: .5em">Welcome to Pokemon Colosseum</h3>

    <details>

        <summary>About</summary>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora consectetur omnis repudiandae, 
            sapiente soluta culpa perferendis totam ad eaque impedit illo nobis fugiat, odio ut error! Eaque 
            aut voluptate beatae non voluptatem deleniti rem aperiam architecto autem odio. Quae sit ipsam 
            quia quas voluptatem rem doloremque dolore aperiam culpa esse!</p>

    </details>

    <hr style="border-top: 1px solid #bbb">

    <div class="info-container">

        <h5>Recent Trainer Activity: </h5>

        <div *ngIf="info[0]; else noContent" class="activity-container">
            <div *ngFor="record of info.reverse(); let i = index">
                <p>{{user.username}} {{info[i]}}</p>
            </div>
        </div>  

        <ng-template #noContent class="activity-container">
            <span>No Recent Activity... Do Something!</span>
        </ng-template>

<br><br><br><br> <!--line breaks for lazy spacing for now-->
<br><br><br>
<br><br>
<br>

    </div>

</div>



