/*party view styling
.grid-container{

}
*/
.choose-party{
    margin:1em;
}

#select-buttons{
    display: inline-block;
    width: 1.2em;
    margin-left: 18%
}

.parties{
    display: inline-block;
    width: 25%;
    margin-left: 13%;
}
