/*party view styling
.grid-container{

}
*/
.choose-party{
    margin:1em;
}

#select-buttons{
    display: inline-block;
    width: 1.2em;
    margin-left: 18%;
    gap: 20%;
}

.parties{
    display: inline-block;
    width: 50%
}