<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""> <!--routerLink=""--> <!--This used to let you click the icon for login-->
        <img src="../../../assets/pokeball.png" alt="" height="30" class="d-inline-block align-text-top" >
      </a>
      <a class="navbar-brand" routerLink="">
        Pokemon Colosseum
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" routerLink="welcome">| Home |</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="party">| Your Parties |</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="pokemon">| Your Pokemon |</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="catch">| Catch Pokemon |</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="battle">| Battle |</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="profile">| Profile |</a>
          </li>
        </ul>
      </div>
    </div>
</nav>