/* POKELIST STUFF FIRST */

.poke-list{
    margin:1em;
}

.pokemon-container{
    display: flex; flex-direction: row;
    justify-content: center;
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    width: 50%;
    height: 250px;
    overflow: auto;
    padding-bottom: 30px;
    padding-top: 5px;
    border-style: double;
    border-width: 4px;
    border-radius: 2%;
    border-color: black;
    background-color: rgb(90, 94, 119);
    backdrop-filter: blur(20px);
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 15px;
    width: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3b0101; 
    cursor: pointer;
  }

  #pcPoke{
    width: 60px;
    height: 60px;
}

  #pcPoke:hover {
    transform: scale(1.1);
    cursor: pointer;
    content: attr(title);
    color-interpolation-filters: linearRGB;
}

.poke-profile{
    display: flex; flex-direction: row;
}

.poke-info{
    display: flex; flex-direction: row;
    justify-content: center;
    display: inline-grid;
    height: auto;
    width: 18%;
    margin-left: 1em;
    padding: 5px;
    border-style: double;
    border-width: 4px;
    border-radius: 5%;
    border-color: black;
    background-color: rgb(90, 94, 119);
    backdrop-filter: blur(20px);
}

.poke-stats{
    display: flex; flex-direction: column;
    justify-content: center;
    display:inline-grid;
    height: auto;
    width: auto;
    margin-left: 1em;
    padding: 5px;
    border-style: double;
    border-width: 4px;
    border-radius: 5%;
    border-color: black;
    background-color: rgb(90, 94, 119);
}

.stat-line{
    display: flex; 
    justify-content: center; 
    font-weight: 600;
}

  /*DEFAULT PARTY COMPONENT STUFF BELOW*/

  .grid-container{
    display: flex;
    position: relative;
    gap: 1%;
    margin: 3%;
}

.party-card{
    margin-right: 152px;
    text-align: left;
    text-indent: .4em;
    border-style: double;
    border-radius: 10%;
    border-width: .2em;
    background:black;
    width: auto;
    backdrop-filter: blur(20px);
    display: flex; flex-direction: column
}

.party-section{
  height:auto;
  width:auto;
  align-items:center;
  padding-left: 35px;
  padding-right: 30px;
  background-image: url(../../../assets/pokecenter2.png);
  background-size:contain;
  background-repeat: no-repeat;
  
}

p, h6 {
    color:black;
    font-weight: 600;
}

img{
    width: 100px;
    height: 100px;
}

img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.empty-slot{
    color:white;
    margin-top: 25px;
    margin-bottom: 35px;
}

#emptySlotButton{
    border-radius: 80%;
    border-style: solid;
    border-width: 2px;
}

.party-header{
    text-align:center;
    color:white
}