<!-- THIS POKEMON LIST WILL RENDER IF THE USER TRIES TO ADD TO PARTY -->
<div class="poke-list" [hidden]="pokemonHidden">

    <h3 style="padding-top: .5em">Add Which Pokemon?</h3>

    <details style="display:inline;">
        <summary>Order Options</summary>
            <button class="btn-sm btn-dark" style="margin-left: .5em" (click)="alphabetize()">Alphabetical</button>
            <button class="btn-sm btn-dark" style="margin-left: .5em" (click)="earliest()">Earliest First</button>
            <button class="btn-sm btn-dark" style="margin-left: .5em" (click)="latest()">Latest First</button>
    </details>
    <h5 style="display:inline; margin-left: 40%; cursor: pointer" (click)="hidePokemon()">x</h5>
    
    <!-- There MUST be an easier way to get the pokeoptions displayed for only the poke you click-->
    <!-- But for now we have these nested conditionals and a bunch of TS logic-->
    <div class="pokemon-container">
        <div *ngFor="let poke of pokemon; let i = index">  
            <img id="pcPoke" src="{{poke.sprite1}}" title="{{poke.name}}" (click)="addPokemonToParty(poke)">
        </div>
    </div>


</div>

<!--THIS POKE INFO DIV WILL RENDER WHEN YOU CLICK A PARTY POKEMON-->

<h5 style="display:inline; margin-left: 41%; cursor: pointer" (click)="togglePokeInfo(null, 0, 0)" [hidden]="partyPokeInfoHidden">x</h5>
<div class="poke-profile"[hidden]="partyPokeInfoHidden">

    <div class="poke-info">
        <h5 style="float:left; color:black; font-weight: 600;">{{selectedPoke.name | titlecase}}</h5>
        <span *ngIf="!selectedPoke.type2" class="stat-line">Type: {{selectedPoke.type1 | titlecase}}</span> 
        <span *ngIf="selectedPoke.type2" class="stat-line">Type: {{selectedPoke.type1 | titlecase}} & {{selectedPoke.type2 | titlecase}}</span>
        <img src="{{selectedPoke.sprite1}}" alt="">
    </div>
    <div class="poke-stats">
        <h6 class="stat-line">Base Stats: </h6>
        <div class="stat-line">HP: {{selectedPoke.hp}} | Speed: {{selectedPoke.speed}}</div>
        <div class="stat-line">Attack: {{selectedPoke.attack}} | Special Attack: {{selectedPoke.sAttack}}</div>
        <div class="stat-line">Defense: {{selectedPoke.defense}} | Special Defense: {{selectedPoke.sDefense}}</div>
    </div>

</div>

<button style="margin-left: 1.2em;" class="btn btn-dark" 
[hidden]="partyPokeInfoHidden" (click)="removePokemonFromParty()">{{removeButtonMessage}}</button>


<!--DEFAULT PARTY SCREEN STARTS HERE-->

<div class="grid-container">

    <!-- Property Binding! Taking data from the TS, and changing an HTML attribute -->
    <!-- *ngFor is a structural directive that renders HTML for every object in an Array -->
    <div *ngFor="let party of parties" class="party-card">

        <!--String Interpolation!! Taking data from the TS, rending it on the HTML-->

        <span class="party-section" *ngIf="party.pokemon1 as pokemon else empty"> 

            <p>
                {{party.pokemon1.name}}  
            </p> 

            <p *ngIf="party.pokemon1.sprite1 as sprite">
                <img src="{{sprite}}" alt="please" (click)="togglePokeInfo(party.pokemon1, 1, party.partyId)">
            </p>

        </span>

        <span *ngIf="party.pokemon2 as pokemon else empty" class="party-section"> <!---->
    
            <p>
                {{pokemon.name}}  
            </p> 

            <p *ngIf="party.pokemon2.sprite1 as sprite">
                <img src="{{sprite}}" alt="please" (click)="togglePokeInfo(party.pokemon2, 2, party.partyId)">     
            </p>
 
        </span>        

        <span *ngIf="party.pokemon3 as pokemon else empty" class="party-section"> 
    
            <p>
                {{pokemon.name}}  
            </p> 

            <p *ngIf="party.pokemon3.sprite1 as sprite">
                <img src="{{sprite}}" alt="please" (click)="togglePokeInfo(party.pokemon3, 3, party.partyId)">     
            </p>

        </span>    

        <ng-template #empty>
            <br><br>
            <span class="empty-slot">
                <span style="padding-right: 20px;">Empty Slot</span>
                <button id="emptySlotButton" class="btn-dark" (click)="showPokemon(party.partyId)">+</button>
                <!--<app-pokemon [hidden]="pokemonHidden"></app-pokemon>-->
            </span> 
        </ng-template> 

    </div>

</div>