/* You can add global styles to this file, and also import other style files */

p, h3, h4, h5, h6, summary {
    color: white;
    font-family: sans-serif;
}

body, html {
    height:100%;
    background-image:url("./assets/pokebackground.jpg");
    background-size: cover;
    
}