<div class="container-fluid">

    <!-- Input box to search for pokemon -->
    <div class="row m-3" style="justify-content: center">
        <!-- [(Two way binding!!)] this input field will take user input and fill a variable in our TS-->
        <button class="btn btn-dark col-lg-2" (click)="getPoke()">Search for Pokemon!</button>
        <!--*ngIf based on the location clicked, get a certain type of pokemon-->
        <!--The pokemon available might have to be preloaded into the front end...-->
        <!--Doesn't look like we can get pokemon by type necessarily-->
    </div>

    <hr style="border-top: 1px solid #bbb">

    <h4>Pokedex:</h4>

    <!-- Table to display pokemon data -->
    <table class="table table-striped table-hover col-lg-4">
        <thead>
            <th class="col-lg-1">Name</th>
            <th class="col-lg-1">Type</th>
            <th class="col-lg-1">Sprite</th>
        </thead>

        <tbody *ngIf="pokeFound">
            <td>{{pokemon.name | titlecase}}</td>
            <td>{{pokemon.types[0].type.name | titlecase}}
                <span *ngIf="pokemon.types[1]">
                  {{pokemon.types[1].type.name | titlecase}}
                </span>
            </td>
            <td><img src="{{pokemon.sprites.front_default}}"></td>
        </tbody>

    </table>

    <img id="location"  src="../../../assets/viridianForest.png" alt="lake">

    <div [ngSwitch]="pokeFound" class="infoDiv">
        <div *ngSwitchCase="true">
            <h5>A wild {{pokemon.name | titlecase}} appeared!</h5>
            <h5>What will {{username}} do?</h5>
            <table class="table table-striped table-hover col-lg-2">
                <thead>
                    <th class="col-lg-1">
                        <button class="btn btn-dark" (click)="catchPokemon()">
                            Catch!
                        </button>
                    </th>
                    <th class="col-lg-1">
                        <button class="btn btn-dark" >
                            Run!
                        </button>
                    </th>
                </thead>
            </table>
        </div>
        <div *ngSwitchCase="false">
            <h5>{{infoH5 | titlecase}}</h5>
        </div>
    </div>

</div>